<!-- 
    <nav class="main-nav">
        <ul class="main-nav-content">
            <li>
                <a href="#">
                    <span><i fa fa-user></i></span>
                    <span><button>User</button></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><button>Logout</button></span>
                </a>
            </li>
        </ul>
    </nav> -->

    <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
              Daniel 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/admin/login">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
            </a>
          </div>
        </div> 
      </div>