<div class="sidenav">
    
    <a routerLink="/admindashboard/dashboard"> <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    <br>
    <a routerLink="/admindashboard/viewusers"><i class="fa fa-eye" aria-hidden="true"></i>View Users</a>
    <br>
    <a routerLink="/admindashboard/createuser"><i class="fa fa-plus" aria-hidden="true"></i>Create User</a>
    <br>
    <a routerLink="/admindashboard/edituser"><i class="fa fa-pencil" aria-hidden="true"></i>Edit User</a>
    <br>
    <a routerLink="/admindashboard/deleteuser"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete User</a>
    <br>
    <a routerLink="/admindashboard/viewmovies"><i class="fa fa-eye" aria-hidden="true"></i>View Movies</a>
    <br>
    <a routerLink="/admindashboard/createmovie"><i class="fa fa-plus" aria-hidden="true"></i>Create Movie</a>
    <br>
    <a routerLink="/admindashboard/editmovie"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Movie</a>
    <br>
    <a routerLink="/admindashboard/deletemovie"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Movie</a>
    <br>
    <br>
    <a routerLink="/admin/login"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
  </div>